@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

*{
    background-color: var(--CorBackground);
    color: var(--CorPadrao);
    margin: 0px;
    border: 0px;
    padding: 0px;
    
}

:root {
    --CorPadrao: #e2e2e2;
    --CorBackground: #131313;
    --CorMain: #252525;
    --CorHeader:#393939;
    --CorFooter: #010101;
    --FontePadrao: Arial, sans-serif;
    --FonteDestaque1: 'Oswald', sans-serif;
    
}

.card  img{
    border-radius:10px ;
    width: 20vw;
    height: 20vw;
}
.card{
    width: 20vw;
    height: 25vw;
    background-color: var(--CorBackGround);
    display: inline-block;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px black    ;
}


