@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

*{
    background-color: var(--CorBackground);
    color: var(--CorPadrao);
    
}

:root {
    --CorPadrao: #e2e2e2;
    --CorBackground: #131313;
    --CorMain: #252525;
    --CorHeader:#393939;
    --CorFooter: #010101;
    --FontePadrao: Arial, sans-serif;
    --FonteDestaque1: 'Oswald', sans-serif;
    
}



